<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script src="../js/lib/vue.min.js"></script>
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input
            placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务"
            class="task-input"
            type="text"
            v-model='addTodoText'
            @keyup.enter='addTodo(123,$event)'
        />
        <ul class="task-count" v-if='list.length'>
            <li>{{noCheckedLength}}个任务未完成</li>
            <li class="action">
                <a :class="{'active':visibility=='all'}" href="#all">所有任务</a>
                <a :class="{'active':visibility=='unfinished'}" href="#unfinished">未完成的任务</a>
                <a :class="{'active':visibility=='finished'}" href="#finished">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：(双击未完成任务可进行编辑，取消编辑可按esc键)</h3>
        <div class="tasks">

            <span class="no-task-tip" v-if='!list.length'>还没有添加任何任务</span>
            <ul class="todo-list">
                <li class="todo" :class='{completed:item.isChecked,editing:edit == index}' v-for="(item,index) in filterList" >
                <!-- editing:edit == index点击时索引相等，当前这个选项成可编辑状态 -->
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model='item.isChecked'/>
                        <label @dblclick='edtorTodo(item,index)'>{{item.title}}</label>
                        <button class="destroy" @click='delTodo(item)'></button>
                    </div>
                    <input
                        class="edit"
                        type="text"
                        v-model='item.title'
                        @keyup.enter='edit = -1'
                        v-focus='edit == index'
                        @blur="edit=-1"
                        @keyup.esc = 'cancelTodo(item)'
                    />
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/app.js"></script>
</body>
</html>